nav{
    
    background-color: #272b30!important;
    border-bottom: 1px solid rgba(28,28,28,.6);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    color: white;

    .navbar-brand{
        font-family: Xanh Mono,monospace;
        img{
            width: 70px;
        }
    }

    .join{
        color: #4799eb;
        border-color: #4799eb;    
    }
    

}
