<div class="login d-flex justify-content-center align-items-center">
    <div class="container ">
        <div class="">
        <div class="account row border-0">
            <div class="col-lg-6 d-none d-lg-block p-0">
                <app-img></app-img>
            </div>
            <div class="col-lg-6 px-5 pb-3">
                <img class="my-4 d-flex mx-auto" src="../../assets/logo.png" alt="">
                <h4 class="text-center text-muted mb-4">Log in to GameOver</h4>

                <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm)" class="mx-auto" action="" >
    
                    <div class="alert alert-danger" *ngIf="errorFromLogin">
                        {{errorFromLogin}}
                    </div> 

                    <div class="form-group mb-3">
                        <input type="email" [class]="{'is-invalid':loginForm.get('email')?.errors && loginForm.get('email')?.touched ,'is-valid':!loginForm.get('email')?.errors}" class="form-control" placeholder="Email Address" id="email" formControlName="email">
                        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert alert-danger py-0">
                            <p class="mb-0" *ngIf="loginForm.get('email')?.getError('required')">Email doesn't exist</p>
                            <p class="mb-0" *ngIf="loginForm.get('email')?.getError('email')">invalid email</p>
                        </div>
                    </div>    
    
                    <div class="form-group mb-3">
                        <input type="password" [class]="{'is-invalid':loginForm.get('password')?.errors && loginForm.get('password')?.touched ,'is-valid':!loginForm.get('password')?.errors}" class="form-control" placeholder="Password" id="password" formControlName="password">
                        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger py-0">
                            <p class="mb-0" *ngIf="loginForm.get('password')?.getError('required')">Password is required</p>
                            <p class="mb-0" *ngIf="loginForm.get('password')?.getError('pattern')">invalid password</p>
                        </div>
                    </div>    

                    <button *ngIf="!isLoading" [disabled]="!loginForm.valid" class="btn py-2 w-100 text-white">
                        Login
                    </button>

                    <button *ngIf="isLoading" type="reset" class="btn py-2 w-100 text-white">
                        <i class="fa fa-spinner fa-spin text-center"></i>
                    </button>
                </form>
    
                
                <hr class="text-white mt-3">
                
                <div class="text-center small mt-3">
                    <a  class="px-1 text-decoration-none"> Forgot Password? </a>
                </div>

                <div class="text-center text-muted mt-3">
                    <span class="small">Not a member yet?</span>
                    <a routerLink="/register" class="text-primary text-decoration-none ps-1">Creat Account</a>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>