.details{
    background-color: #272b30;
    height: 100;
    width: 100;
    padding-top: 5rem;

    .free{
        color: #aaa;
        background-color: #32383e;
    }

    .btn-ftg-blue{
        color: white;
        background-color: #4799eb;
    }

    .contact{
        color: #aaa;

    }
}