/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Xanh+Mono:ital@1&display=swap');

.item{
    background-color: #272b30;
    height: 100%;
    width: 100%;
}
